In [1]:
import pandas as pd
import numpy as np
import os

from pathlib import Path
import sys
pathlib = str(Path().resolve()) + "/../"
sys.path.append(pathlib)

data_path = "../data"
from utils import get_combined_df

In [2]:
input_path = [
    "Leaderboard_LGBM_LFE_dow_ori_CEsubset9_numCE_idx_day_67.csv",
    "Leaderboard_LGBM_LFE_dow_ori_CEsubset9_numCE_idx_day_67.csv",
    "Leaderboard_LGBM_LFE_dow_ori_CEsubset9_numCE_idx_day_67.csv",
    
]
output_path = "ensemble_LFE_SimGNN_SupGNN_4_3_3.csv"


input_path = [os.path.join(data_path, "submissions", i) for i in input_path]
output_path = os.path.join(data_path, "submissions", output_path)

ret = get_combined_df(input_path, output_path, [0.4, 0.3, 0.4])
ret

        RowId  is_clicked  is_installed
0       64505         0.0      0.079024
1       64506         0.0      0.349310
2       64507         0.0      0.030132
3       64508         0.0      0.193603
4       64509         0.0      0.078676
...       ...         ...           ...
160968  16240         0.0      0.114474
160969  16241         0.0      0.004887
160970  16242         0.0      0.021815
160971  16243         0.0      0.052142
160972  16244         0.0      0.045187

[160973 rows x 3 columns]